name: Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Amazon ECR
  run: |
    aws ecr get-login-password --region eu-north-1 | \
    docker login --username AWS --password-stdin 201385813146.dkr.ecr.eu-north-1.amazonaws.com:v1

- name: Build, tag, and push image to Amazon ECR
  run: |
    # Build Docker image
    docker build -t mediplus:v1 .

    # Tag it for ECR
    docker tag mediplus:v1 201385813146.dkr.ecr.eu-north-1.amazonaws.com/mediplus:v1

    # Push to ECR
    docker push 201385813146.dkr.ecr.eu-north-1.amazonaws.com/mediplus:v1

