name: Build and Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push Docker image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          IMAGE_TAG: v1
        run: |
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
          docker tag $ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          IMAGE_TAG: v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            aws ecr get-login-password --region eu-north-1 \
              | docker login --username AWS --password-stdin $ECR_REGISTRY

            docker pull $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

            docker stop mediplus-container || true
            docker rm mediplus-container || true

            docker run -d \
              -p 80:80 \
              --name mediplus-container \
              $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG




  # update-k8s-yaml:
  #   runs-on: ubuntu-latest
  #   needs: build_and_deploy

  #   steps: 
  #   - name: clone-k8s-yaml repo
  #     env: 
  #       GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
  #       GIT_PASSWORD: ${{ secrets.GIT_PASSWORD }}
  #     run: |
  #       git clone https://${GIT_USERNAME}:${GIT_PASSWORD}@github.com/digitalwitchdemo/kubernetes-manifest.git
  #       cd kubernetes-manifest/medplux-yaml
  #       cat deployment.yaml

  #       sed -i "s+696035274327.dkr.ecr.us-east-1.amazonaws.com/medplux:.*+696035274327.dkr.ecr.us-east-1.amazonaws.com/medplux:$GITHUB_RUN_NUMBER+g" deployment.yaml
  #       cat deployment.yaml
  #       git config user.email support@digitalwitchng.online
  #       git config user.name ${GIT_USERNAME}
  #       git add .
  #       git commit -m "Updated the k8s.yaml with new image tag"
  #       git push https://${GIT_USERNAME}:${GIT_PASSWORD}@github.com/digitalwitchdemo/kubernetes-manifest.git HEAD:main
        
      
    
      
     
